:root {
  --color-primary: hsl(201, 98%, 41%);
  --color-primary-light: hsl(206, 100%, 68%);
  --color-primary-dark: hsl(206, 100%, 31%);

  --color-red: hsl(0, 100%, 42%);
  --color-red-light: hsla(0, 75%, 61%, 0.15);

  --color-green: hsl(145, 100%, 39%);
  --color-green-light: hsla(145, 75%, 61%, 0.15);

  --color-orange: hsl(36, 100%, 50%);

  --color-white: hsl(0, 0%, 100%);

  --color-black: hsl(0, 0%, 0%);

  --color-background: hsl(0, 0%, 100%);

  --color-text-primary: hsl(0, 0%, 24%);
  --color-text-light: hsl(0, 0%, 80%);

  --color-border: hsl(0, 0%, 80%);
}
