.quiz-config {
  background: var(--color-white);
  padding: 1.5em;

  &__group {
    margin-top: 2rem;

    > :not(label) {
      display: block;
      width: 50%;
    }

    select {
      font: inherit;
    }
  }

  &__btn {
    text-transform: uppercase;
    border: none;
    background-color: var(--color-primary);
    color: var(--color-white);
    font-weight: 400;
    font-family: inherit;
    letter-spacing: 1px;
    padding: 1em 4em;
    border-radius: 4px;
  }
}

.loader {
  background-color: var(--color-white);
  visibility: hidden;

  &.active {
    visibility: visible;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }

  &::before {
    background-color: var(--color-primary);
    width: 9rem;
    height: 9rem;
  }

  &::after {
    background-color: var(--color-white);
    width: 5.5rem;
    height: 5.5rem;
  }
}
