#root {
  max-width: 60rem;
  margin: 0 auto;
  height: 100vh;
}

.header {
  width: 100%;
  padding: 1rem 3rem;
  background-color: var(--color-primary);
  color: var(--color-white);
}

.main {
  padding: 2rem;
  // height: 50%;
  // background-color: var(--color-primary);
}

.loader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
