.u-mg-top-sm {
  margin-top: 1rem !important;
}

.u-mg-top-md {
  margin-top: 2rem !important;
}

.u-mg-top-lg {
  margin-top: 4rem !important;
}

.u-mg-top-xl {
  margin-top: 6rem !important;
}

.separator {
  padding-top: 2rem;
  border-top: 1px solid var(--color-text-light);
}
