:root {
  --color-primary: hsl(201, 98%, 41%);
  --color-primary-light: hsl(206, 100%, 68%);
  --color-primary-dark: hsl(206, 100%, 31%);

  --color-red: hsl(0, 100%, 42%);

  --color-green: hsl(145, 100%, 39%);
  --color-green-light: hsl(145, 100%, 80%);

  --color-white: hsl(0, 0%, 100%);

  --color-background: hsl(0, 0%, 100%);

  --color-text-primary: hsl(0, 0%, 24%);
}
