* {
  padding: 0;
  margin: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  background-color: var(--color-background);
  color: var(--color-text-primary);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.6rem; }

input {
  font: inherit; }

:root {
  --color-primary: hsl(201, 98%, 41%);
  --color-primary-light: hsl(206, 100%, 68%);
  --color-primary-dark: hsl(206, 100%, 31%);
  --color-red: hsl(0, 100%, 42%);
  --color-red-light: hsl(0, 75%, 61%);
  --color-green: hsl(145, 100%, 39%);
  --color-green-light: hsl(145, 75%, 61%);
  --color-white: hsl(0, 0%, 100%);
  --color-background: hsl(0, 0%, 100%);
  --color-text-primary: hsl(0, 0%, 24%);
  --color-text-light: hsl(0, 0%, 80%); }

.quiz-config {
  background: var(--color-white);
  padding: 1.5em; }
  .quiz-config__group {
    margin-top: 2rem; }
    .quiz-config__group > :not(label) {
      display: block;
      width: 50%;
      background-color: var(--color-white); }
    .quiz-config__group select {
      font: inherit; }

.question-card {
  font-size: 1.6rem;
  text-align: center; }
  .question-card__question {
    margin-bottom: 2rem; }
  .question-card__answers {
    list-style: none;
    margin: 0;
    padding: 0; }
  .question-card__answer {
    text-align: center;
    text-transform: uppercase;
    border: 1px solid var(--color-text-light);
    border-radius: 2rem;
    margin-bottom: 1rem;
    padding: 1.25rem 0 1.25rem;
    cursor: pointer; }
    .question-card__answer.correct {
      background-color: var(--color-green-light);
      border-color: var(--color-green);
      color: var(--color-white);
      font-weight: 700; }
    .question-card__answer.incorrect {
      background-color: var(--color-red-light);
      border-color: var(--color-red);
      color: var(--color-white);
      font-weight: 700; }
  .question-card .btn {
    display: block;
    visibility: hidden;
    margin: 0 auto; }

.quiz-summary {
  padding-top: 2rem; }
  .quiz-summary__title {
    text-align: center;
    margin-bottom: 3rem; }
  .quiz-summary__buttons {
    display: flex;
    flex-flow: column; }
    .quiz-summary__buttons > * {
      margin-top: 2rem; }

.loader {
  background-color: var(--color-white);
  visibility: hidden; }
  .loader.active {
    visibility: visible; }
  .loader::before, .loader::after {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%; }
  .loader::before {
    background-color: var(--color-primary);
    width: 9rem;
    height: 9rem; }
  .loader::after {
    background-color: var(--color-white);
    width: 5.5rem;
    height: 5.5rem; }

.btn {
  text-transform: uppercase;
  border: 2px solid transparent;
  background-color: var(--color-primary);
  color: var(--color-white);
  font-weight: 400;
  font-family: inherit;
  letter-spacing: 1px;
  padding: 1em 4em;
  border-radius: 4px; }
  .btn--light {
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
    background-color: var(--color-white);
    font-weight: 700;
    letter-spacing: 0; }

#root {
  max-width: 60rem;
  margin: 0 auto;
  height: 100vh; }

.header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 3rem;
  background-color: var(--color-primary);
  color: var(--color-white); }
  .header__score {
    margin-left: auto; }

.main {
  padding: 2rem; }

.loader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.u-mg-top-sm {
  margin-top: 1rem; }

.u-mg-top-md {
  margin-top: 2rem; }
